@import url("https://fonts.googleapis.com/css2?family=Chonburi&family=Encode+Sans:wght@600;800&display=swap");

/* ---- Main Page Styling ------------------------------------------ */

* {
    padding: 0;
    margin: 0;
    color: #205690;
}

body {
  background-color: #205690;
}

ul {
  list-style: none;
  align-items: center;
  display: inline-flex;
  position: relative;
}

li {
  padding-left: 1rem;
  padding-right: 1rem;
}

img {
  background-repeat: no-repeat;
}

/* ---- Header and Nav Bar Styling ------------------------------------------ */
header {
  background-color: #003153;
  width: 100%;
}

header>h1 {
    color: #388BAE;

}

nav {
  text-align: right;
}

.instruction {
    color: #ffb3ff80;
    text-align: right;
    margin-right: 20%;
    margin-top: 10%;
}

/* ---- Footer and Social Media Styling ------------------------------------------ */
footer {
  background-color: #14E4E1;
  font-size: larger;
  text-align: center;
  bottom: 0;
  position: absolute;
  width: 100%;
}


#social {
  color: #DA68D0;
  margin: 4px 4px;
  font-size: x-large;
}

.social-media {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
/* Forms styling */

main > h1 {
  color: #0c3e71;
  margin-bottom: 30px;
}

form {
  color: rgb(40, 85, 131);
  background-color: #c3d9f1;
  padding: 30px;
  margin-bottom: 100%;
}

.text-input {
  background: #83b4e6;
  color: #315e7f;
  width: 100%;
  height: 35px;
  margin: 7px 1 19px 1;
  border: #315e7f;
  border-radius: 25px;
  padding: 1 6px;
}

.signup-button {
  margin-top: 30px;
  border-radius: 25px;
  font-size: 100%;
  background-color: #5899c8;
  color: #0b4b95;
}

/* Media query: small screens and mobile phones (280 px and up) */
@media (min-width: 280px) and (max: 768px) {

  footer {
    bottom: 0;
    position: relative;
    width: 100%;
  }
}


/* Media query: screens (768 px and up) */
@media (min-width: 768px) {
    footer {
      bottom: 0;
      position: relative;
      width: 100%;
    }
  }

