@import url("https://fonts.googleapis.com/css2?family=Chonburi&family=Encode+Sans:wght@600;800&display=swap");

/* ---- Main Page Styling ------------------------------------------ */

* {
    padding: 0;
    margin: 0;
    color: #BEDEF5;
}

body {
  background-color: #205690;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

ul {
  list-style: none;
  align-items: center;
  display: inline-flex;
  position: relative;
}

li {
  padding-left: 1rem;
  padding-right: 1rem;
}

#product-photos {
  padding: 0 5%;
}

img {
  background-repeat: no-repeat;
  object-fit: cover;
  height: 300px;
  max-width: 100vw;
}

/* ---- Header and Nav Bar Styling ------------------------------------------ */
header {
  background-color: #2B77BA;
  width: 100%;
}

header>h1 {
    color: #BEDEF5;

}

nav {
  text-align: right;
}

.click {
    color: #DA68D0;
    margin-left: 60%;
    margin-top: 1%;
    font-family: Encode Sans;
    font-style:inherit;
    font-weight: 100;
    font-size: 25px;
}

/* ---- Footer and Social Media Styling ------------------------------------------ */
footer {
  background-color: #2B77BA;
  font-size: larger;
  text-align: center;
  bottom: 0;
  position: relative;
  width: 100%;
}


#social {
  color: #DA68D0;
  margin: 4px 4px;
  font-size: x-large;
}


#contact {
    color: #7BE668;

}

.social-media {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* Forms styling */

main > h1 {
  color: #0c3e71;
  margin-bottom: 50px;
}

.sign {
    margin-top: 5%;
    margin-left: 3%;
}

form {
  color: rgb(40, 85, 131);
  background-color: transparent;
  padding: 30px;
  margin-bottom: 100%;
  width: 50%;
  border-radius: 25px;
}

label {
    color: #BEDEF5;
    padding: 2px;
}

.text-input {
  background: #83b4e6;
  color: #0B4685;
  width: 100%;
  height: 35px;
  margin: 7px 1px 19px 1px;
  border: #315e7f;
  border-radius: 15px;
  padding: 1px 6px;
  font-size: 17px;
}

.signup-button {
  margin-top: 30px;
  border-radius: 20px;
  font-size: 19px;
  background-color: #5899c8;
  color: #BEDEF5;
}

/* Media query: small screens and mobile phones (280 px and up) */
/* @media (min-width: 280px) and (max: 768px) {

  footer {
    bottom: 0;
    position: relative;
    width: 100%;
  }
} */


/* Media query: screens (768 px and up) */
/* @media (min-width: 768px) {
    footer {
      bottom: 0;
      position: relative;
      width: 100%;
    }
  } */

